.hidden
 {
    color: #f0f0f0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #59C173;
    background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);
    background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); 

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.scorecard{
    background-color: #f0f0f0;
    border-radius: 5px;
    padding-bottom: 0px;
    text-align: center;
    width: 100%;
}

.mycard {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 20vw;
    height: 20vh;
    padding: 10px;
}

#timer {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background-color: #ff3c00;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #fff;
}

#status {
    display: inline-block;
    margin-top: 5px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background-color: #017212;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #fff;
    max-width: 90%;
    max-height: fit-content;
}

@media screen and (max-width: 576px) {
    /* Styles for screens up to 576px wide (e.g., phones) */
    #curr-status {
        font-size: small;
        min-height: auto; /* Allow height to adjust dynamically */
    }

}



